/* One-Column Form for White Background */

input {
    height: 53px;
    border: 2px solid #F1F1F1;
    background-color: #fff;
    width: 100% !important;
    font-size: 18px;
    line-height: 18px;
    font-family: 'Figtree', sans-serif;
    border-radius: 8px;
    color: #A9A9A9;
    padding: 0px 19px;
    margin-bottom: 15px;
    transition: 0.3s;
}

input::placeholder {
    color: #A9A9A9;
}

input:focus {
    outline: none !important;
    border: 2px solid #25C9D0;
}

input:hover {
    border: 2px solid #25C9D0;
    transition: 0.3s;
}

select {
    height: 53px;
    border: 2px solid #F1F1F1;
    background-color: #fff;
    width: 100% !important;
    font-size: 18px;
    line-height: 18px;
    font-family: 'Figtree', sans-serif;
    border-radius: 8px;
    color: #A9A9A9;
    padding: 10px 19px;
    margin-bottom: 15px;
    transition: 0.3s;
}

select:focus {
    outline: none !important;
    border: 2px solid #25C9D0;
}

select:hover {
    border: 2px solid #25C9D0;
    transition: 0.3s;
}

textarea {
    border: 2px solid #F1F1F1;
    background-color: #fff;
    width: 100%;
    font-size: 18px;
    line-height: 18px;
    font-family: 'Figtree', sans-serif;
    border-radius: 8px;
    color: #A9A9A9;
    padding: 14px 19px;
    margin-bottom: 15px;
    transition: 0.3s;
}

textarea:focus {
    outline: none !important;
    border: 2px solid #25C9D0;
}

textarea:hover {
    border: 2px solid #25C9D0;
    transition: 0.3s;
}

.hs-error-msgs {
    display: none !important;
}

input[type="submit" i] {
    width: 99.5% !important;
    height: 53px;
    font-size: 18px;
    line-height: 18px;
    font-family: 'Figtree', sans-serif;
    border-radius: 8px;
    font-weight: 600;
    color: #fff;
    background-color: #25C9D0;
    border: none !important;
    cursor: pointer;
}

label {
    font-size: 18px;
    line-height: 18px;
    font-family: 'Figtree', sans-serif;
    font-weight: 600;
    color: #A9A9A9;
}

input[type="submit" i]:hover {
    transform: translate(0px, -4px);
    border: none !important;
}

.w-richtext ul {
    list-style: none !important;
    padding-left: 0px !important;
    margin-top: 10px !important;
}

.hs-form-booleancheckbox-display {
    display: flex;
}

.legal-consent-container .hs-form-booleancheckbox-display input {
    width: 15px;
    height: 15px;
    position: relative;
    bottom: -5px;
}

.legal-consent-container .hs-form-booleancheckbox-display>span {
    margin-left: 15px;
}

.hs-form-booleancheckbox-display a {
    color: #25C9D0 !important;
    transition: 0.3s !important;
}

.hs-form-booleancheckbox-display a:hover {
    transition: 0.3s !important;
    color: #3CC1CA !important;
}

.hs-richtext a {
    color: #25C9D0 !important;
    transition: 0.3s !important;
}

.hs-richtext a:hover {
    color: #3CC1CA !important;
    transition: 0.3s !important;
}

/* CSS Two Columns */

fieldset {
    max-width: 100% !important;
}

fieldset.form-columns-2 .hs-form-field {
    width: 100% !important;
}
