#email-892f728f-354d-47ac-89df-1a17f9307351 {
    height: 48px;
    max-width: 360px !important;
    width: 360px !important;
    margin-right: 10px;
    padding: 12px 21px;
    border: 1px solid #F1F1F1;
    border-radius: 100px;
    background-color: hsla(0,0%,100%,0);
    font-family: Figtree,sans-serif;
    color: #12141d;
    line-height: 16px;
    font-weight: 300;
    margin-right: 15px;
    transition: 0.3s;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#hsForm_892f728f-354d-47ac-89df-1a17f9307351 > div.hs_submit.hs-submit > div.actions > input  {
    font-size: 16px;
    height: 48px;
    width: 120px !important;
    padding: 13px 26px;
    border-radius: 100px;
    background-color: #25C9D0;
    font-family: Figtree,sans-serif;
    line-height: 16px;
    font-weight: 800;
    color: #fff;
    border: 0px !important;
    transition: 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

#hsForm_892f728f-354d-47ac-89df-1a17f9307351 > div.hs_submit.hs-submit > div.actions > input:hover {
transform: translate(0px, -4px);
transition: 0.3s;
background: #3CC1CA;
}

#hsForm_892f728f-354d-47ac-89df-1a17f9307351 {
     display: flex;
    align-items: center;
    width: 590px !important;
    justify-content: center;
    margin:auto;
    flex-wrap: wrap;
}

#label-email-892f728f-354d-47ac-89df-1a17f9307351 {
display: none;
}

:focus {
outline: none;
transition: 0.3s;
}

.submitted-message {
font-family: Figtree,sans-serif;
    color: #12141d;
    line-height: 16px;
    font-weight: 600;
}

#email-892f728f-354d-47ac-89df-1a17f9307351:focus {
    border: 1.5px solid #25C9D0;
}

.hs_email { order: 1; }
.legal-consent-container { 
	max-width: 100%;
	order: 3; 
	margin-top: 12px;
}
.hs_submit { order: 2 }

#hsForm_892f728f-354d-47ac-89df-1a17f9307351 > div.legal-consent-container > div {
text-align: center;
}

#hsForm_892f728f-354d-47ac-89df-1a17f9307351 > div.legal-consent-container > div p {
font-size: 12px;
line-height: 18px;
color: #A9A9A9 !important;
}

#hsForm_892f728f-354d-47ac-89df-1a17f9307351 > div.legal-consent-container > div a {
font-size: 12px;
line-height: 18px;
color: #A9A9A9 !important;
text-decoration: underline;
font-weight: 400 !important;
}

@media only screen and (min-width: 200px) and (max-width: 568px) {
#hsForm_892f728f-354d-47ac-89df-1a17f9307351 {
    width: 350px !important;
}

#email-892f728f-354d-47ac-89df-1a17f9307351 {
  max-width: 214px !important;
  margin-right: 10px !important;
}
}
